.env

/db
!/db
/db/*
!/db/.gitkeep

/prompts
!/prompts
/prompts/*
!/prompts/.gitkeep

/src
!/src
/src/*
!/src/rag.py

/static/images/*
!/static/images/.gitkeep
/static/models/vrm/*
!/static/models/vrm/.gitkeep
/static/motions/vrma/*
!/static/motions/vrma/.gitkeep